    <h1>404</h1>
    <p className="text-xl">This page does not exist. Don't worry though, we got you.</p>
    <div className="space-content">
      <a className="button" href="/">Take me home</a>
    </div>
