<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Dende</title>
	</head>
	<body>
		<img src="/logo.png" alt="Dende">
		<h1>Dende</h1>
	</body>
</html>
